* {
    margin: 10px;
    padding: 20;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(199, 137, 37);
}

#container {
    background-color: rgb(32, 32, 68);
    width: 1000px;
    margin: auto;
    padding: 30px;
}

header {
    background-color: rgb(84, 71, 98);
    color: rgb(20, 6, 14);
    margin: 0px;
    padding: 20px;

}

footer {
    background-color: antiquewhite;
    color: black;
    margin: 0px;
    padding: 2px;
}
#my photo{
    min-width: 20vw;
    max-width:15vw;
    float:left;
    padding:40px;
}
#Test {
    padding-left: 20;
    


}

#menu {
    background-color: rgb(54, 119, 97);
    height:50px;
    padding:14px; 
}

#menu a{
    background-color:rgb(54, 54, 9);
    color:antiquewhite;
    border-color: rgb(14, 13, 12);
    border-style: solid;
    border-radius: 20px;
    margin:0;
    padding:5px;
    text-decoration: none;
}
#menu a:hover{
    background-color:rgb(161, 86, 86);
    color:azure;
}

#edu table{
    padding:30px;
}
